:root {
  --primary: #22D2A0;
  --background: #40335d;
  --green: #1FC11B;
  --yellow: #FFD913;
  --orange: #FF9C55;
  --red: #FF5555;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'VT323', monospace;
}

body {
  background: linear-gradient(90deg, rgba(80, 43, 103, 1) 0%, rgba(140, 75, 180, 1) 100%);
}

body::-webkit-scrollbar {
  display: none;
  margin: 0;
  padding: 0;
}