#form-wrapper {
    text-align: center;
    min-height: 280px;
    min-width: 300px;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

form Button {
    margin-top: 2rem;
}

.toggle-btn {
    margin-top: 2ch;
}

@media (max-width: 1440px) {
    input {
        width: 90vw;
    }
}