#form-wrapper {
    text-align: center;
    min-height: 280px;
    min-width: 300px;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

input {
    height: fit-content;
    font-size: 8ch;
    border-radius: .3ch;
    border: .2ch solid rgba(0, 0, 0, 0.59);
    margin: .15ch 0 .15ch 0;
    background-color: rgb(172, 172, 172);
}

input,
select,
textarea {
    color: var(--primary);
}

textarea:focus,
input:focus {
    color: var(--primary);
}

.form {
    width: 100%;
    height: 100%;
    padding: 1ch;
}

.toggle-btn {
    margin-top: 2ch;
}