#form-wrapper {
    text-align: center;
    min-height: 280px;
    min-width: 300px;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.form {
    width: 100%;
    height: 100%;
    padding: 1ch;
}

.toggle-btn {
    margin-top: 2ch;
}